/* button */

.button {
    background-color: var(--color-bg);
    border-radius: calc(2 * var(--spacing));
    border: solid var(--line-width) var(--color-on-bg);
    cursor: none;
    height: calc(3 * var(--spacing));
    padding-bottom: 0;
    padding-top: 0;
    transition-property: color 300ms var(--ease-out-expo);
    width: calc(13 * var(--spacing));
    z-index: var(--z-interaction);
}

.button:hover {
    color: var(--color-bg);
}

.button::before {
    background-color: var(--color-on-bg);
    border-radius: calc(2 * var(--spacing));
    content: "";
    height: 0;
    padding: 0;
    position: absolute;
    transition-delay: 100ms, 100ms, 0ms;
    transition-duration: 500ms, 500ms, 600ms;
    transition-property: height, width, padding;
    transition-timing-function: var(--ease-out-expo);
    width: 0;
    z-index: calc(var(--z-interaction) + 1);
}

.button:hover::before {
    height: calc(3 * var(--spacing));
    padding: 0 calc(5 * var(--spacing));
    transition-delay: 0ms, 0ms, 100ms;
    transition-duration: 200ms, 200ms, 600ms;
    transition-property: height, width, padding;
    transition-timing-function: var(--ease-out-expo);
    width: calc(3 * var(--spacing));
}

.button>a {
    color: inherit;
    text-decoration: none;
    width: 100%;
}

.button>span, .button>a {
    text-align: center;
    z-index: calc(var(--z-interaction) + 2);
}