.frame {
    &__content {
        display: flex;
        padding: ss(6) ss(1.5);
    }

    &--wide &__content {
        padding: 0;
    }

    @include breakpoint(landscape) {
        &__content {
            display: flex;
            padding: 0;
        }

        &--top &__content {
            grid-row-start: 2;
        }

        &--bottom &__content {
            grid-row-start: 3;
        }

        &--end &__content {
            grid-column-start: 5;
        }

        &--start &__content {
            grid-column-start: 3;
        }

        &--regular &__content {
            grid-column-end: span 12;
            grid-row-end: span 6;
        }

        &--large &__content {
            grid-column-end: span 15;
            grid-row: 2 / span 7;
        }

        &--large.frame--end &__content {
            grid-column-start: 2;
        }

        &--large.frame--start &__content {
            grid-column-start: 1;
        }

        &--wide &__content {
            grid-column: 1 / span 18;
            grid-row: 1 / span 9;
            padding: ss(1) ss(1.5);
        }
    }
}
