.frame {
    display: grid;
}

.frame__landscape {
    gap: ss(1);
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
    padding: ss(1) ss(1.5);

    @include breakpoint(landscape) {
        gap: 0;
        grid-template-columns: repeat(18, 1fr);
        grid-template-rows: repeat(18, 1fr);
        height: calc(2 / 3 * 100vw);
        padding: 0;
    }

    .major {
        &--top-left,
        &--top-right,
        &--bottom-left,
        &--bottom-right {
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;
        }

        &--top-left {
            @include breakpoint(landscape) {
                grid-column: 3 / span 12;
                grid-row: 3 / span 12;
            }
        }

        &--top-right {
            @include breakpoint(landscape) {
                grid-column: 5 / span 12;
                grid-row: 3 / span 12;
            }
        }

        &--bottom-left {
            @include breakpoint(landscape) {
                grid-column: 3 / span 12;
                grid-row: 5 / span 12;
            }
        }

        &--bottom-right {
            @include breakpoint(landscape) {
                grid-column: 5 / span 12;
                grid-row: 5 / span 12;
            }
        }
    }

    .minor {
        &--apex-left,
        &--apex-right,
        &--base-left,
        &--base-right {
            display: flex;
            flex-direction: column;

            @include breakpoint(landscape) {
                hyphens: auto;
            }
        }

        &--base-left,
        &--base-right {
            justify-content: flex-end;
        }

        &--apex-left,
        &--base-left {
            @include breakpoint(landscape) {
                grid-column: 1 / span 3;
                grid-row: 3 / span 12;
                padding-left: ss(3);
            }
        }

        &--apex-right,
        &--base-right {
            @include breakpoint(landscape) {
                grid-column: 16 / span 3;
                grid-row: 3 / span 12;
                padding-right: ss(3);
            }
        }

        &--bottom-end,
        &--bottom-start,
        &--top-end,
        &--top-start {
            display: flex;
        }

        &--bottom-start {
            @include breakpoint(landscape) {
                grid-column: 3 / span 12;
                grid-row: 16 / span 3;
            }
        }

        &--bottom-end {
            @include breakpoint(landscape) {
                grid-column: 6 / span 12;
                grid-row: 16 / span 3;
            }
        }

        &--top-end,
        &--top-start {
            padding-top: ss(3);
        }

        &--top-start {
            @include breakpoint(landscape) {
                grid-column: 3 / span 12;
                grid-row: 1 / span 3;
            }
        }

        &--top-end {
            @include breakpoint(landscape) {
                grid-column: 6 / span 12;
                grid-row: 1 / span 3;
            }
        }
    }
}
