// SCSS USE RULES

@use "sass:list";
@use "sass:math";

// RESET
// http://meyerweb.com/eric/tools/css/reset/
//  v2.0 | 20110126
//  License: none (public domain)

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

// HTML5 display-role reset for older browsers
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

// FONTS

@font-face {
    font-family: "Helvetica Now";
    font-stretch: 50% 100%;
    font-style: normal;
    font-weight: 50 1000;
    src: url("./fonts/HelveticaNowVar.woff2") format("woff2-variations");
}

@font-face {
    font-family: "Helvetica Now";
    font-stretch: 50% 100%;
    font-style: italic;
    font-weight: 50 1000;
    src: url("./fonts/HelveticaNowVar-Italic.woff2") format("woff2-variations");
}

// SCSS VARIABLES

$ms-ratio: 1.5;
$max-frame-height: 80rem;
$max-page-width: 120rem;
$spacing-base: 2ex;
$typeface: "Helvetica Now", sans-serif;
$type-base: 0.75rem;
$type-hierarchy: (
    "small": (
        0.25
    ),
    "p": (
        1
    ),
    "h3": (
        2
    ),
    "h2": (
        2
    ),
    "h1": (
        7,
        4
    )
);

// SCSS MIXINS

@mixin breakpoint($value) {
    @if $value == landscape {
        @media screen and (orientation: landscape) {
            @content;
        }
    } @else if type-of($value) == number {
        @media screen and (min-width: $value) {
            @content;
        }
    } @else {
        @error "Breakpoint value #{$value} not supported.";
    }
}

// SCSS FUNCTIONS

@function ms($n, $base: $type-base) {
    @return math.pow($ms-ratio, $n) * $type-base;
}

@function msSize($ratio, $i: 1) {
    $max-font-size: $type-base * math.pow($ms-ratio, list.nth($ratio, $i));
    $max-font-size-unitless: math.div($max-font-size, $max-font-size * 0 + 1);
    $fluid-reduction: if(list.nth($ratio, 1) > 3, 0.6, 0);
    $min-font-size: $max-font-size-unitless - ($fluid-reduction * $max-font-size-unitless);
    $min-font-size: if($min-font-size > 0.75, $min-font-size, 0.75);
    $fluid-scaler: ($max-font-size-unitless - $min-font-size) + 0.75vw;
    $fluid-scaler-landscape: ($max-font-size-unitless - $min-font-size) + 0.01vw;

    @return clamp(#{$min-font-size}rem, #{$fluid-scaler}, #{$max-font-size});
}

@function ss($n, $base: $spacing-base) {
    @return $n * $spacing-base;
}

// ROOT CUSTOM PROPERTIES

:root,
::after,
::before {
    --color-dark: 0, 0, 0;
    --color-light: 253, 253, 253;
    --color-project-bds: #ff8841;
    --golden-ratio--larger: calc(1 / 1.618033988749 * 100%);
    --golden-ratio--smaller: calc(calc(1 - 1 / 1.618033988749) * 100%);
    --spacing-base: 2ex;
    --type-base: 1.0625rem;
}
