// SCSS USE RULES

@use "sass:list";
@use "sass:math";

// RESET
// http://meyerweb.com/eric/tools/css/reset/
//  v2.0 | 20110126
//  License: none (public domain)

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

// HTML5 display-role reset for older browsers
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

// FONTS

@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@144,350&display=swap");

@font-face {
    font-family: "GT America Mono LCG";
    font-style: normal;
    font-weight: 500;
    src: url("fonts/GT-America-LCGV-Mono-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Helvetica Now";
    font-stretch: 50% 100%;
    font-style: normal;
    font-weight: 50 1000;
    src: url("./fonts/HelveticaNowVar.woff2") format("woff2-variations");
}

@font-face {
    font-family: "Helvetica Now";
    font-stretch: 50% 100%;
    font-style: italic;
    font-weight: 50 1000;
    src: url("./fonts/HelveticaNowVar-Italic.woff2") format("woff2-variations");
}

// SCSS VARIABLES

$breakpoints: (375, 414, 506, 768, 992, 1366, 1512, 1600, 1920);
$spacings: (0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 26, 30);

$font-monospace: "GT America Mono LCG", monospace;
$font-sans-serif: "Helvetica Now", sans-serif;
$font-serif: "Fraunces", serif;
$golden-ratio: 1.6180339887498948482;
$ms-base: 1.25rem;
$ms-ratio: 1.5;
$spacing-base: 0.9375rem;

// SCSS MIXINS

@mixin breakpoint($value) {
    @if list.index($breakpoints, $value) {
        $index: list.index($breakpoints, $value);
        $breakpoint: math.div(list.nth($breakpoints, $index), 16) + "rem";

        @media screen and (min-width: $breakpoint) {
            @content;
        }
    } @else {
        @error "Breakpoint value #{$value} not found in $bps map.";
    }
}

// SCSS FUNCTIONS

@function ms($n, $base: $ms-base, $scale: $ms-ratio) {
    $multiplier: math.pow($scale, $n);
    @return $multiplier * $base;
}

@function ss($n, $base: $spacing-base) {
    @return $n * $base;
}

// ROOT CUSTOM PROPERTIES

:root,
::after,
::before {
    --color-bg: #fff;
    --color-on-bg: #000;
    --ease-in-out-back: cubic-bezier(0.68, -0.6, 0.32, 1.6);
    --ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
    --golden-ratio: 1.6180339887498948482;
    --line-width: 0.0625rem;
    --max-content-width: 105.625rem;
    --max-page-width: 120rem;
    --spacing: 0.9375rem;
    --z-backdrop: 0;
    --z-copy: 10;
    --z-media: 20;
    --z-nav: 30;
    --z-cursor: 40;

    @include breakpoint(1920) {
        --max-content-width: 110rem;
    }
}

::selection {
    background-color: var(--color-on-bg);
    color: var(--color-bg);
}
