// SCSS USE RULES

@use "sass:list";
@use "sass:math";

// RESET
// http://meyerweb.com/eric/tools/css/reset/
//  v2.0 | 20110126
//  License: none (public domain)

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

// HTML5 display-role reset for older browsers
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

// FONTS

@font-face {
    font-family: "Helvetica Now";
    font-stretch: 50% 100%;
    font-style: normal;
    font-weight: 50 1000;
    src: url("./fonts/HelveticaNowVar.woff2") format("woff2-variations");
}

@font-face {
    font-family: "Helvetica Now";
    font-stretch: 50% 100%;
    font-style: italic;
    font-weight: 50 1000;
    src: url("./fonts/HelveticaNowVar-Italic.woff2") format("woff2-variations");
}

// SCSS VARIABLES

$breakpoints: (744, 1024, 1280, 1920, 2880);
$spacings: (0, 1, 2, 4, 10);

$font-sans-serif: "Helvetica Now", sans-serif;
$viewport-max-w: 180rem;
$spacing-base: 0.9375rem;

// SCSS MIXINS

@mixin breakpoint($value) {
    @if list.index($breakpoints, $value) {
        $index: list.index($breakpoints, $value);
        $breakpoint: math.div(list.nth($breakpoints, $index), 16) + "rem";

        @media screen and (min-width: $breakpoint) {
            @content;
        }
    } @else {
        @error "Breakpoint value #{$value} not found in $bps map.";
    }
}

// SCSS FUNCTIONS

@function toRem($n) {
    @return math.div($n, 16) * 1rem;
}

@function ss($n, $base: $spacing-base) {
    @return math.div($n, 15) * $base;
}

// ROOT CUSTOM PROPERTIES

:root,
::after,
::before {
    --color-bg: rgba(245, 245, 245, 1);
    --color-on-bg-1: rgba(50, 42, 42, 1);
    --color-on-bg-2: rgba(50, 42, 42, 0.64);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: rgba(22, 19, 19, 1);
        --color-on-bg-1: rgba(245, 245, 245, 1);
        --color-on-bg-2: rgba(245, 245, 245, 0.32);
    }
}

::selection {
    background-color: var(--color-on-bg-1);
    color: var(--color-bg);
}
