@function leading-scale($value, $base-size: var(--ls-base-size)) {
    $value: #{$value}+'rem';
    $size: calc($value * $base-size);

    @return $size;
}

@function modular-scale($value, $base-size: var(--ms-base-size), $ratio: var(--ms-ratio)) {
    $size: calc(pow($ratio, $value) * $base-size);

    @return $size;
}

@function pow($num, $exp) {
    $value: 1rem;

    @if $exp >0 {
        @for $i from 1 through $exp {
            $value: calc($value * $num);
        }
    }

    @else if $exp < 0 {
        @for $i from 1 through -$exp {
            $value: calc($value / $num);
        }
    }

    @return $value;
}