@import "./reset.scss", "./fonts/fonts.scss", "./functions.scss", "./mixins.scss", "./variables.scss", "./layout.scss", "./components.scss";

:root {
    --color-bg: #f6f6f5;
    --color-on-bg: #272527;
    --spacing-base: .9375rem;
    --text-base: 1.125rem;
}

body {
    background-color: var(--color-bg);
    font-variant-ligatures: common-ligatures, contextual;
    height: 100%;
    text-rendering: optimizeLegibility;
    width: 100%;


}

main {
    margin: 0 auto;
    max-width: map-get($breakpoints, "lg");
    overflow-x: hidden;
}

a {
    cursor: none;
    text-decoration: underline;

    @include breakpoint("xs") {
        white-space: nowrap;
    }
}

@each $className,
$value in $utilities {
    .#{$className} {
        #{nth($value, 1)}: nth($value, 2);
    }
}

.grid-golden-ratio {
    --layout-width: 100%;

    align-items: end;
    display: grid;
    gap: ss(3);
    grid-template-columns: 1fr;

    @include breakpoint("sm") {
        gap: ss(4);
        grid-template-columns: calc(var(--layout-width) / $layout-ratio) 1fr;

        &--reverse {
            grid-template-columns: 1fr / calc(var(--layout-width) / $layout-ratio);
        }

        &--column-end {
            grid-column-start: 2;
        }
    }
}

.font-sans-serif,
.font-monospace {
    font-feature-settings: "case", "onum", "ss05";
}

.icon {
    height: ss(2);
    stroke: var(--color-on-bg);
    stroke-width: .078125rem;
    width: ss(2);
}

.text-body {
    font-size: ms(0);
    line-height: ss(2);
}

.text-caption {
    font-size: ms(-1);
    line-height: ss(2);
}

.text-large-title {
    font-size: clamp(ms(3), 10vw, ms(6));
    line-height: .8;
}

.text-title-1 {
    font-size: ms(3);
    hyphens: auto;
    line-height: ss(5);

    @include breakpoint("xs") {
        hyphens: manual;
        font-size: ms(4);
        line-height: ss(7);
    }
}

.text-title-2 {
    font-size: ms(1);
    line-height: ss(3);
}

@media screen and (min-width: 60em) {
    body {
        cursor: none;
        user-select: none;
    }
}

@media screen and (min-width: 120em) {
    main {
        border-left-color: var(--color-on-bg);
        border-left-style: solid;
        border-left-width: .09375rem;
        border-right-color: var(--color-on-bg);
        border-right-style: solid;
        border-right-width: .09375rem;
    }
}