@import "./base.scss";

body {
    --h-nav: calc(7 * var(--spacing));

    background-color: var(--color-bg);
    color: var(--color-on-bg);
    direction: ltr;
    font-family: $font-sans-serif;
    font-feature-settings: "pnum" on, "lnum" on;
    height: 100%;
    text-rendering: optimizeLegibility;
    width: 100%;
    writing-mode: horizontal-tb;
    -webkit-font-smoothing: anti-aliased;
}

body::after {
    // Vertical rhythm grid — don't send to production unless the code below is commented

    // background-image: repeating-linear-gradient(rgba(255, 0, 0, 0.125) 0 1px, transparent 1px 100%);
    // background-size: var(--spacing) var(--spacing);
    // content: "";
    // height: 100%;
    // position: fixed;
    // top: 0;
    // width: 100%;
    // z-index: 100;
}

a {
    color: inherit;
    cursor: none;
    text-decoration: underline;
}

em {
    font-style: italic;
}

@import "./utilities.scss";
