.l-footer {
    padding: ss(3);

    &__info {
        align-items: flex-end;
        display: flex;
        justify-content: space-between;

        .text-body {
            display: flex;
            flex-grow: 1;
            flex-wrap: wrap;
        }
    }

    &__info .text-body>span {
        margin-right: ss(3);

        @include breakpoint("md") {
            margin-right: 0;

            &:last-child {
                flex-grow: 1;
                text-align: center;
            }
        }
    }

    &__signature {
        fill: var(--color-label);
        height: ss(2);
        width: auto;
    }
}

.l-golden-ratio {
    --layout-width: 100%;

    display: grid;
    gap: ss(3);
    grid-template-columns: 1fr;

    @include breakpoint("sm") {
        grid-template-columns: calc(var(--layout-width) / $golden-ratio) 1fr;
    }
}

.l-header {
    padding-top: ss(8);

    &__headline,
    &__links {
        padding-left: ss(3);
        padding-right: ss(3);
    }

    &__headline>.text-title-2 {
        display: inline-flex;
    }

    &__links {
        margin-top: ss(3);

        @include breakpoint("sm") {
            display: none;
        }

        .c-navigation-link:last-child {
            margin-top: ss(1);
        }
    }
}

.l-no-wrap {
    white-space: nowrap;
}