.l-about,
.l-contact,
.l-footer {
    margin-top: ss(16);
    padding-left: ss(4);
    padding-right: ss(4);
}

.l-about,
.l-contact {
    &__links {
        @include breakpoint("sm") {
            grid-column-start: 2;
        }
    }

    &__links>.c-navigation-link:not(:first-child) {
        margin-top: ss(1);
    }
}

.l-about {
    &__description>.text-body:last-child {
        margin-bottom: ss(1);
    }
}

.l-footer {
    padding-bottom: ss(3);

    &__info {
        align-items: flex-end;
        display: flex;
        justify-content: space-between;

        .text-body {
            display: flex;
            flex-grow: 1;
            flex-wrap: wrap;
        }
    }

    &__info .text-body>span {
        margin-right: ss(3);

        @include breakpoint("md") {
            margin-right: 0;

            &:last-child {
                flex-grow: 1;
                text-align: center;
            }
        }
    }

    &__signature {
        fill: var(--color-label);
        height: ss(2);
        width: auto;
    }
}

.l-golden-ratio {
    --layout-width: 100%;

    align-items: end;
    display: grid;
    gap: ss(4);
    grid-template-columns: 1fr;

    @include breakpoint("sm") {
        grid-template-columns: calc(var(--layout-width) / $golden-ratio) 1fr;
    }
}

.l-header {
    padding-top: ss(8);

    &__headline,
    &__links {
        padding-left: ss(4);
        padding-right: ss(4);
    }

    &__headline>.text-title-2 {
        display: inline-flex;
    }

    &__links {
        @include breakpoint("sm") {
            display: none;
            margin-top: ss(3);
        }

        .c-navigation-link:last-child {
            margin-top: ss(1);
        }
    }
}