@keyframes buttonBreathe {
    0% {
        padding: 0;
        opacity: initial;
    }

    100% {
        padding: 1em;
        opacity: 0.64;
    }
}

.align-items-end {
    align-items: end;
}

.align-items-start {
    align-items: start;
}

.aspect-16-9 {
    aspect-ratio: 16 / 9;
}

.color-on-bg {
    color: var(--color-on-bg);
}

.divider {
    border-block-end-color: var(--color-on-bg);
    border-block-end-style: solid;
    border-block-end-width: 0.09375rem;
}

.dropcap {
    float: left;
    font-size: ms(4);
    font-stretch: 92%;
    font-weight: 525;
    line-height: ss(6);
    padding-inline-end: ss(0.5);
}

.font-400 {
    font-weight: 400;
    font-variation-settings: "wght" 400;
}

.font-500 {
    font-weight: 500;
    font-variation-settings: "wght" 500;
}

.font-600 {
    font-weight: 600;
    font-variation-settings: "wght" 600;
}

.font-monospace {
    font-family: $font-monospace;
}

.grid-3 {
    display: grid;
    gap: ss(2);
    grid-template-columns: 1fr;

    @include breakpoint(768) {
        column-gap: ss(2);
        row-gap: ss(4);
        grid-template-columns: 1fr 1fr;
    }

    @include breakpoint(1366) {
        gap: ss(4);
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.grid-golden-ratio {
    display: grid;
    gap: ss(2);
    grid-template-columns: 1fr;

    @include breakpoint(1366) {
        gap: ss(4);
        grid-template-columns: calc(100% / $golden-ratio) 1fr;

        &--reverse {
            grid-template-columns: 1fr calc(100% / $golden-ratio);
        }
    }
}

.icon {
    height: ss(2);
    stroke: var(--color-on-bg);
    stroke-width: 0.09375rem;
    width: ss(2);
}

.is-hidden {
    display: none;

    &-768 {
        @include breakpoint(768) {
            display: none !important;
        }
    }
}

.is-invisible {
    --opacity-easing: cubic-bezier(0, 0.55, 0.45, 1);

    opacity: 0;
    transition-duration: 900ms;
    transition-property: opacity;
    transition-timing-function: var(--opacity-easing);
}

.is-visible {
    opacity: 1;
}

.is-visible--speed-1 {
    transition-duration: 600ms;
}

.is-visible--speed-2 {
    transition-duration: 2400ms;
}

.is-visible--speed-3 {
    transition-duration: 3100ms;
}

.js-has-button-breathe {
    animation-direction: alternate;
    animation-duration: 600ms;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: buttonBreathe;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    padding: 0;
}

.js-interactable-link {
    --cursor-scale: 1;
    --cursor-translateX: 0;
    --cursor-translateY: 0;
    --cursor-easing: cubic-bezier(0.34, 1.56, 0.64, 1);

    transform: translate(var(--cursor-translateX), var(--cursor-translateY)) scale(var(--cursor-scale));
    transition-duration: 100ms;
    transition-timing-function: var(--cursor-easing);
    transition-property: opacity;
}

.js-interactable-link:active {
    opacity: 0.5;
    transform: translate(var(--cursor-translateX), var(--cursor-translateY)) scale(1);
}

.js-interactable-link:not(:hover) {
    transition-property: transform, opacity;
}

.justify-self-end {
    justify-self: flex-end;
}

.no-overflow {
    overflow: hidden;
}

.sp-block-end-xxs {
    margin-block-end: ss(1);
}

.sp-block-end-xs {
    margin-block-end: ss(2);
}

.sp-block-end-sm {
    margin-block-end: ss(3);
}

.sp-block-end-md {
    margin-block-end: ss(6);
}

.sp-block-end-lg {
    margin-block-end: ss(10);
}

.sp-block-end-xl {
    margin-block-end: ss(20);
}

.sp-inline-end-xs {
    margin-inline-end: ss(1);
}

.sp-inline-end-sm {
    margin-inline-end: ss(3);
}

.sp-inset-block-end-xs {
    padding-block-end: ss(2);
}

.sp-inset-block-end-md {
    padding-block-end: ss(6);
}

.sp-inset-block-end-lg {
    padding-block-end: ss(10);
}

.sp-inset-block-end-xl {
    padding-block-end: ss(20);
}

.sp-inset-block-start-xs {
    padding-block-start: calc(2 * var(--sp-base));
}

.sp-inset-block-start-sm {
    padding-block-start: calc(3 * var(--sp-base));
}

.sp-inset-block-start-md {
    padding-block-start: calc(6 * var(--sp-base));
}

.sp-inset-block-start-lg {
    padding-block-start: calc(10 * var(--sp-base));
}

.sp-inset-inline {
    padding-inline: var(--sp-base);

    @include breakpoint(375) {
        padding-inline: calc(var(--sp-base) * 2);
    }
}

.tag::after {
    content: "•";
    margin-inline-start: 0.5em;
    margin-inline-end: 0.5em;
    position: relative;
}

.tag:last-child::after {
    content: "";
}

.text-1to3-col {
    columns: 1;
    column-gap: ss(2);

    @include breakpoint(506) {
        columns: 2;
    }

    @include breakpoint(992) {
        columns: 3;
    }
}

.text-1to3-col p + p {
    margin-block-start: ss(2);

    @include breakpoint(506) {
        margin-block-start: unset;
        text-indent: ss(2);
    }
}

.text-break-word {
    word-break: break-word;
}

.text-decoration-none {
    text-decoration: none;
}

.text-hyphenate {
    hyphens: auto;
}

.text-ms-1neg {
    font-size: ms(-1);
    line-height: ss(2);
}

.text-ms-0 {
    font-size: ms(0);
    font-weight: 350;
    line-height: ss(2);
}

.text-ms-1 {
    font-size: ms(1);
    font-stretch: 96%;
    font-weight: 450;
    line-height: ss(3);
}

.text-ms-3 {
    font-size: ms(3);
    font-stretch: 92%;
    font-weight: 525;
    line-height: ss(5);

    @include breakpoint(992) {
        font-size: ms(4);
        line-height: ss(7);
    }
}

.text-ms-3to4 {
    font-size: ms(3);
    font-stretch: 92%;
    font-weight: 525;
    line-height: ss(4);

    @include breakpoint(506) {
        font-size: ms(4);
        font-stretch: 90%;
        font-weight: 425;
        line-height: ss(6);
    }

    @include breakpoint(992) {
        font-size: ms(5);
        font-weight: 475;
        line-height: ss(9);
    }

    &--to-6 {
        @include breakpoint(1366) {
            font-size: ms(6);
            font-weight: 475;
            line-height: ss(13);
        }
    }
}

.text-ms-4 {
    font-size: ms(4);
    font-stretch: 90%;
    font-weight: 425;
    letter-spacing: -0.02em;
    line-height: ss(6);

    @include breakpoint(992) {
        font-size: ms(5);
        line-height: ss(8);
    }
}

.text-nowrap {
    white-space: nowrap;
}

.text-smcps {
    font-variant: all-small-caps;
    font-weight: 515;
}

.text-uppercase {
    text-transform: uppercase;
}

.w-max-container {
    max-width: calc(120rem - ss(8) - 0.1875rem);
}

.w-max-txt {
    max-width: min(100%, 48rem);

    @include breakpoint(992) {
        max-width: calc(100% / $golden-ratio);
    }

    @include breakpoint(1366) {
        max-width: unset;
    }
}
