// ELEMENTS

.article {
    padding-block-end: ss(15);
    z-index: var(--z-copy);

    @include breakpoint(1366) {
        padding-block-end: ss(25);
    }
}

.body {
    font-size: ms(0);
    font-weight: 350;
    line-height: ss(2);

    &--sparse {
        @include breakpoint(1366) {
            font-size: ms(1);
            line-height: ss(3);
        }
    }
}

.caption {
    font-size: ms(-1);
    line-height: ss(1.5);

    &--media {
        @include breakpoint(768) {
            padding-left: ss(1.5);
            max-width: 50%;
        }
    }

    &--sparse {
        line-height: ss(2);
    }
}

.dropcap {
    float: left;
    font-size: ms(4);
    font-stretch: 92%;
    font-weight: 525;
    line-height: ss(6);
    padding-inline-end: ss(0.5);
}

.headline {
    font-size: ms(1);
    font-stretch: 96%;
    font-weight: 450;
    line-height: ss(3);

    &--dense {
        line-height: ss(2);
    }

    @include breakpoint(992) {
        font-size: ms(2);
        font-stretch: 94%;
        font-weight: 485;
        line-height: ss(4);

        &--dense {
            line-height: ss(3);
        }
    }
}

.icon {
    height: ss(2);
    stroke: var(--color-on-bg);
    stroke-width: var(--line-width);
    width: ss(2);
}

.large-title,
.title-1 {
    font-size: ms(3);
    font-stretch: 92%;
    font-weight: 525;
    line-height: ss(4);

    @include breakpoint(506) {
        font-size: ms(4);
        font-stretch: 90%;
        font-weight: 425;
        line-height: ss(6);
    }

    @include breakpoint(992) {
        font-size: ms(5);
        font-weight: 475;
        line-height: ss(9);
    }
}

.large-title {
    @include breakpoint(1366) {
        font-size: ms(6);
        font-weight: 475;
        line-height: ss(13);
    }

    @include breakpoint(1920) {
        font-size: ms(7);
        font-weight: 350;
        letter-spacing: -0.03em;
        line-height: ss(19);
    }
}

.list {
    padding-left: 0;
    list-style-position: outside;

    @include breakpoint(375) {
        list-style: disc;
    }
}

.list > li:last-child {
    margin-bottom: 0;
}

.media {
    position: relative;
    z-index: var(--z-media);
}

.section {
    box-sizing: border-box;
    overflow-y: hidden;

    @media screen and (max-width: 120rem) {
        overflow-x: hidden;
    }
}

.subhead {
    font-size: ms(1);
    font-stretch: 96%;
    font-weight: 400;
    line-height: ss(3);
}

.tag::after {
    content: "•";
    margin-inline-start: 0.5em;
    margin-inline-end: 0.5em;
    position: relative;
}

.tag:last-child::after {
    content: "";
}

.title-3 {
    font-size: ms(3);
    font-stretch: 92%;
    font-weight: 525;
    line-height: ss(5);

    @include breakpoint(992) {
        font-size: ms(4);
        line-height: ss(7);
    }
}

// DISPLAY

@each $value in (none, initial, inline, flex, inline-flex) {
    .d-#{$value} {
        display: $value;
    }
}

@each $breakpoint in $breakpoints {
    @each $value in (none, initial, inline, flex, inline-flex) {
        .d-#{$value}--#{$breakpoint} {
            @include breakpoint($breakpoint) {
                display: $value;
            }
        }
    }
}

// JAVASCRIPT

@keyframes buttonBreathe {
    0% {
        padding: 0;
        opacity: initial;
    }

    100% {
        padding: 1em;
        opacity: 0.64;
    }
}

.js-has-button-animation {
    animation-direction: alternate;
    animation-duration: 600ms;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: buttonBreathe;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    padding: 0;
}

.js-link {
    --cursor-scale: 1;
    --cursor-translateX: 0;
    --cursor-translateY: 0;
    --cursor-easing: cubic-bezier(0.34, 1.56, 0.64, 1);

    transform: translate(var(--cursor-translateX), var(--cursor-translateY)) scale(var(--cursor-scale));
    transition-duration: 100ms;
    transition-timing-function: var(--cursor-easing);
    transition-property: opacity;
}

.js-link:active {
    opacity: 0.5;
    transform: translate(var(--cursor-translateX), var(--cursor-translateY)) scale(1);
}

.js-link:not(:hover) {
    transition-property: transform, opacity;
}

// LAYOUT

.l-2col {
    display: grid;
    gap: ss(2);
    grid-template-columns: 1fr;

    @include breakpoint(768) {
        gap: ss(3);
        grid-template-columns: repeat(2, 1fr);
    }
}

.l-column-start-2 {
    @include breakpoint(1366) {
        &--1366 {
            grid-column-start: 2;
        }
    }
}

.l-golden-ratio {
    display: grid;
    gap: ss(2);
    grid-template-columns: 1fr;

    @include breakpoint(1366) {
        gap: ss(3);
        grid-template-columns: calc(100% / $golden-ratio) 1fr;

        &--reverse {
            grid-template-columns: 1fr calc(100% / $golden-ratio);
        }
    }
}

.l-media-grid {
    display: grid;
    gap: ss(0.2);

    &-1 {
        grid-template-columns: 1fr;
    }

    &-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint(506) {
        &-4--506 {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    @include breakpoint(768) {
        align-self: end;
        max-width: calc(100% / $golden-ratio);
    }

    @include breakpoint(1366) {
        align-self: initial;
        max-width: initial;
    }
}

.l-overflow-hidden {
    overflow: hidden;
}

.l-overflow-visible {
    overflow: visible;
}

.l-stack {
    display: flex;
    flex-direction: column;
}

// MISC

.u-align-items-center {
    align-items: center;
}

.u-align-items-end {
    align-items: end;
}

.u-align-items-start {
    align-items: start;
}

.u-align-self-end {
    align-self: end;
}

.u-align-self-start {
    align-self: start;
}

.u-border-box {
    box-sizing: border-box;
}

.u-divider {
    border-bottom: var(--line-width) solid var(--color-on-bg);
}

.u-flex-grow-1 {
    flex-grow: 1;
}

.u-flex-shrink-0 {
    flex-shrink: 0;
}

.u-justify-content-end {
    justify-content: end;
}

.u-justify-content-center {
    justify-content: center;
}

.u-justify-content-space-between {
    justify-content: space-between;
}

.u-wrap {
    flex-wrap: wrap;
}

@include breakpoint(768) {
    .u-align-items-start--768 {
        align-items: start;
    }

    .u-align-self-start--768 {
        align-self: start;
    }

    .u-align-self-end--768 {
        align-self: end;
    }

    .u-justify-content-center--768 {
        justify-content: center;
    }
}

@include breakpoint(992) {
    .u-justify-content-end--992 {
        justify-content: end;
    }
}

@include breakpoint(1366) {
    .u-align-items-end--1366 {
        align-items: end;
    }

    .u-align-self-start--1366 {
        align-self: start;
    }
}

// POSITION

.p-absolute {
    position: absolute;
}

.p-fixed {
    position: fixed;
}

.p-relative {
    position: relative;
}

// SIZING

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.w-max-container {
    max-width: var(--max-page-width);
}

.w-max-content {
    max-width: var(--max-content-width);
}

.w-max-txt {
    max-width: min(100%, 48rem);
}

// SPACING

.s-inset-inline {
    padding-inline: ss(1);

    @include breakpoint(375) {
        padding-inline: ss(2);
    }

    @include breakpoint(992) {
        padding-inline: ss(3);
    }

    @include breakpoint(1920) {
        margin-inline: 5rem;
        padding-inline: 5rem;
    }
}

.s-inset-stack-2 {
    padding-block: ss(2);
}

.s-inset-stack-3 {
    padding-block: ss(3);
}

.s-inset-stack-7 {
    padding-block: ss(7);
}

.s-inset-stack-10 {
    padding-block: ss(10);
}

@include breakpoint(768) {
    .s-inset-stack-10--768 {
        padding-block: ss(7);
    }
}

@include breakpoint(1366) {
    .s-inset-stack-4--1366 {
        padding-block: ss(4);
    }
}

.s-inline-auto {
    margin-left: auto;
    margin-right: auto;
}

.s-inline-1 {
    margin-right: ss(1);
}

.s-inline-3 {
    margin-right: ss(3);
}

.s-inline-4 {
    margin-right: ss(4);
}

.s-inline-10 {
    margin-right: ss(10);
}

@include breakpoint(506) {
    .s-inline-2--506 {
        margin-right: ss(2);
    }
}

@include breakpoint(768) {
    .s-inline-0--768 {
        margin-right: 0;
    }

    .s-inline-3--768 {
        margin-right: ss(3);
    }

    .s-inline-4--768 {
        margin-right: ss(4);
    }
}

@include breakpoint(1366) {
    .s-inline-0--1366 {
        margin-right: 0;
    }

    .s-inline-2--1366 {
        margin-right: ss(2);
    }

    .s-inline-3--1366 {
        margin-right: ss(3);
    }
}

.s-stack-1 {
    margin-bottom: ss(1);
}

.s-stack-2 {
    margin-bottom: ss(2);
}

.s-stack-3 {
    margin-bottom: ss(3);
}

.s-stack-4 {
    margin-bottom: ss(4);
}

.s-stack-10 {
    margin-bottom: ss(10);
}

.s-stack-15 {
    margin-bottom: ss(15);
}

.s-stack-26 {
    margin-bottom: ss(26);
}

@include breakpoint(768) {
    .s-stack-0--768 {
        margin-bottom: ss(0);
    }

    .s-stack-20--768 {
        margin-bottom: ss(20);
    }

    .s-stack-26--768 {
        margin-bottom: ss(26);
    }
}

@include breakpoint(992) {
    .s-stack-0--992 {
        margin-bottom: ss(0);
    }

    .s-stack-2--992 {
        margin-bottom: ss(2);
    }

    .s-stack-6--992 {
        margin-bottom: ss(6);
    }
}

@include breakpoint(1366) {
    .s-stack-0--1366 {
        margin-bottom: ss(0);
    }

    .s-stack-4--1366 {
        margin-bottom: ss(4);
    }
}

.s-inset-stack-2 {
    padding-block: ss(2);
}

.s-inset-stack-3 {
    padding-block: ss(3);
}

.s-inset-stack-8 {
    padding-block: ss(8);
}

.s-inset-stack-10 {
    padding-block: ss(10);
}

@include breakpoint(1366) {
    .s-inset-stack-4--1366 {
        padding-block: ss(4);
    }
}

// TYPOGRAPHY

.txt-1to3-col {
    columns: 1;
    column-gap: ss(2);

    @include breakpoint(506) {
        columns: 2;
    }

    @include breakpoint(992) {
        columns: 3;
    }
}

.txt-1to3-col p + p {
    margin-block-start: ss(2);

    @include breakpoint(506) {
        margin-block-start: unset;
        text-indent: ss(2);
    }
}

.txt-500 {
    font-weight: 500;
    font-variation-settings: "wght" 500;
}

.txt-align-center {
    text-align: center;
}

@include breakpoint(768) {
    .txt-align-center--768 {
        text-align: center;
    }
}

.txt-align-right {
    text-align: right;
}

.txt-break-word {
    word-break: break-word;
}

.txt-hyphenate {
    hyphens: auto;
}

.txt-monospace {
    font-family: $font-monospace;
    font-feature-settings: "pnum" on, "lnum" on, "ss05" on;
    font-weight: 500;
}

.txt-sans-serif {
    font-family: $font-sans-serif;
    font-feature-settings: "pnum" on, "lnum" on, "ss01" on;
    font-optical-sizing: auto;
}

.txt-serif {
    font-family: $font-serif;
    font-feature-settings: "pnum" on, "lnum" on;
    font-variation-settings: "SOFT" 0, "WONK" 1, "opsz" 144, "wght" 350;
}

.txt-smcps {
    font-variant: all-small-caps;
    font-weight: 500;
}

.txt-uppercase {
    text-transform: uppercase;
}
