@font-face {
    font-family: "GT America LCG";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/GT-America-LCGV-Standard-Regular.woff2") format("woff2"), url("fonts/GT-America-LCGV-Standard-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "GT America Mono LCG";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/GT-America-LCGV-Mono-Regular.woff2") format("woff2"), url("fonts/GT-America-LCGV-Mono-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "GT Super Display";
    font-style: normal;
    font-weight: 300;
    src: url("fonts/GT-Super-Display-Light.woff2") format("woff2"),
        url("fonts/GT-Super-Display-Light.ttf") format("ttf");
}