.layout {
  overflow-x: hidden;
  margin: 0 auto;
  max-width: 120em;
}

@media screen and (min-width: 120em) {
  .layout {
    border-color: var(--color-on-bg);
    border-left-width: 0.09375rem;
    border-right-width: 0.09375rem;
    border-style: solid;
  }
}