.container {
  background-color: var(--color-bg);
  box-sizing: border-box;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(120rem - calc(8 * var(--sp-base)));
  padding-top: calc(5 * var(--sp-base));
}

@media screen and (min-width: 120rem) {
  .container {
    border-inline-color: var(--color-on-bg);
    border-inline-style: solid;
    border-inline-width: 0.09375rem;
    border-top-color: var(--color-on-bg);
    border-top-style: solid;
    border-top-width: 0.09375rem;
    margin-block-start: calc(4 * var(--sp-base));
  }

  .container::after, .container::before {
    background-color: var(--color-on-bg);
    content: "";
    height: calc(4 * var(--sp-base));
    position: fixed;
    max-width: 120rem;
    width: 100%;
    z-index: 20;
  }

  .container::after {
    bottom: 0;
  }

  .container::before {
    top: 0;
  }

  .layout::after, .layout::before {
    background-color: var(--color-on-bg);
    content: "";
    height: calc(6 * var(--sp-base));
    left: calc(50% - 60rem + calc(4 * var(--sp-base)) + .09375rem);
    position: fixed;
    max-width: calc(120em - calc(8 * var(--sp-base)) - .1875rem);
    width: 100%;
    z-index: 20;
  }

  .layout::after {
    clip-path: path("M90 0H0V90C0 62.0435 0 48.0653 4.56723 37.039C10.6569 22.3373 22.3373 10.6569 37.039 4.56723C48.0653 0 62.0435 0 90 0ZM1707 0C1734.96 0 1748.93 0 1759.96 4.56723C1774.66 10.6569 1786.34 22.3373 1792.43 37.039C1797 48.0653 1797 62.0435 1797 90V0H1707Z");
    top: calc(4 * var(--sp-base));
  }

  .layout::before {
    bottom: calc(4 * var(--sp-base));
    clip-path: path("M1797 90V0C1797 27.9565 1797 41.9348 1792.43 52.961C1786.34 67.6627 1774.66 79.3431 1759.96 85.4328C1748.93 90 1734.96 90 1707 90H1797ZM90 90C62.0439 90 48.0654 90 37.0391 85.4328C22.3369 79.3431 10.6572 67.6627 4.56738 52.961C0 41.9348 0 27.9565 0 0V90H90Z");
  }
}