.divider {
    background-color: var(--color-on-bg);
    position: relative;
    left: calc(.75 * var(--sp-base) + 0.046875rem + 0.09375rem);
    transform-origin: top;
    top: calc(.75 * var(--sp-base));
    width: 0.09375rem;
    z-index: 0;
}

.description, .name {
    margin-inline-start: calc(2.5 * var(--sp-base));
}

.number {
    align-items: center;
    background-color: var(--color-bg);
    border-color: var(--color-on-bg);
    border-radius: calc(2 * var(--sp-base));
    border-style: solid;
    border-width: 0.09375rem;
    display: inline-flex;
    height: calc(1.5 * var(--sp-base));
    justify-content: center;
    position: absolute;
    margin-block-start: calc(.125 * var(--sp-base));
    width: calc(1.5 * var(--sp-base));
    z-index: 1;
}

.project-process {
    align-items: stretch;
    display: flex;
}

.name {
    display: inline-block;
}

.stages {
    display: grid;
    gap: calc(3 * var(--sp-base));
    grid-auto-rows: 1fr;
}

.stages>div {
    display: grid;
    gap: var(--sp-base);
    grid-auto-rows: max-content;
}

@media screen and (min-width: 23.4375rem) {
    .description, .name {
        margin-inline-start: calc(3.5 * var(--sp-base));
    }
}

@media screen and (min-width: 48rem) {
    .stages>div {
        gap: calc(2 * var(--sp-base));
        grid-template-columns: repeat(4, 1fr);
    }

    .stages>div>p {
        grid-column-end: 5;
        grid-column-start: 2;
    }
}

@media screen and (min-width: 62rem) {
    .description {
        margin-inline-start: unset;
    }

    .name {
        margin-inline-start: calc(50% - var(--sp-base));
    }

    .stages>div {
        grid-template-columns: repeat(3, 1fr);
    }

    .stages>div>p {
        grid-column-end: 4;
        grid-column-start: 2;
    }
}