/* notFound */

.not-found {
    height: 100vh;
}

/* container */

.container {
    margin-top: calc(5 * var(--spacing));
}

.container svg {
    margin-inline-start: calc(var(--spacing) / 2);
    width: var(--spacing);
}

@media screen and (min-width: 48rem) {
    .container {
        margin-top: calc(6 * var(--spacing));
    }
}