.about {
  padding-top: calc(10 * var(--sp-base));
}

.btn-group {
  z-index: 2;
}

.btn-group>div:last-child button {
  display: none;
}

.exp {
  display: none;
}

.header {
  padding-top: calc(4 * var(--sp-base));
}

.summary {
  padding-bottom: calc(6 * var(--sp-base));
}

.summary>div:first-child {
  align-self: flex-start;
}

.summary>div:last-child {
  justify-self: end;
}

.summary p:first-of-type {
  margin-top: calc(2 * var(--sp-base));
}

@media screen and (min-width: 48rem) {
  .header {
    margin-block-end: calc(20 * var(--sp-base));
  }

  .work {
    padding-block-end: 0;
  }
}

@media screen and (min-width: 85.375rem) {
  .about {
    overflow: hidden;
  }

  .about>div:not(:first-child) {
    display: flex;
    width: 200vw;
  }

  .btn-group {
    align-self: flex-start;
    grid-column-start: 2;
  }

  .btn-group>div:first-child {
    display: none;
  }

  .btn-group>div:last-child button {
    --button-easing: cubic-bezier(.98, -0.01, .39, 1.01);

    display: inline-flex;
    transition-duration: 2000ms;
    transition-property: left;
    transition-timing-function: var(--button-easing);
    left: 0;
  }

  .btn-group>div button {
    overflow: hidden;
  }

  .btn-group>div:last-child button span::before, .btn-group>div:last-child button span::after {
    transition-duration: 2000ms;
    transition-property: bottom;
    transition-timing-function: var(--button-easing);
  }

  .btn-group>div:last-child button span::before {
    bottom: 0;
    content: "More";
    left: -5.5%;
    position: relative;
  }

  .btn-group>div:last-child button span::after {
    bottom: calc(-3 * var(--sp-base));
    content: "Less";
    left: 28.5%;
    position: absolute;
  }

  .summary {
    left: 0;
    padding-bottom: calc(2 * var(--sp-base));
  }

  .exp, .summary {
    --section-easing: cubic-bezier(0, 0.55, 0.45, 1);

    box-sizing: border-box;
    position: relative;
    transition-duration: 1500ms;
    transition-property: left;
    transition-timing-function: var(--section-easing);
    width: 100vw;
  }

  .exp {
    display: grid;
    left: 0;
  }

  .exp>div:first-child {
    padding-top: calc(4 * var(--sp-base));
  }

  .exp-is-expanded {
    left: -50%;
  }

  .header {
    margin-block-end: calc(30 * var(--sp-base));
  }

  .summary p:first-of-type {
    margin-top: unset;
  }

  .summary-is-hidden {
    left: -50%;
  }

  .summary-is-hidden .btn-group>div:last-child button {
    left: calc(17 * var(--sp-base));
  }

  .summary-is-hidden .btn-group>div:last-child button>span::before {
    bottom: calc(3 * var(--sp-base));
  }

  .summary-is-hidden .btn-group>div:last-child button>span::after {
    bottom: .375rem;
  }
}

@media screen and (min-width: 120rem) {
  .exp-is-expanded {
    left: -120rem;
  }

  .summary-is-hidden {
    left: -120rem;
  }
}