/* header */

.header {
  padding-block-start: calc(2 * var(--spacing));
}

@media screen and (min-width: 48rem) {
  .header {
    padding-block-start: calc(10 * var(--spacing));
  }
}

/* projects */

.projects {
  background-color: var(--color-bg);
  z-index: var(--z-copy);
}

/* artwork */

.artwork {
  padding-block: calc(30 * var(--spacing));
}

@media screen and (min-width: 85.375rem) {
  .artwork {
    padding-block-start: calc(26 * var(--spacing));
    padding-inline: calc(3 * var(--spacing));
  }
}

@media screen and (min-width: 120rem) {
  .artwork {
    margin-left: calc(-50vw + var(--max-page-width) / 2);
    padding-inline: 0;
    width: 100vw;
  }
}

/* artworkContainer */

.artwork-container {
  display: grid;
  gap: var(--spacing);
  grid-template: repeat(6, auto) / 1fr;
  position: relative;
  overflow: visible;
}

@media screen and (min-width: 48rem) {
  .artwork-container {
    grid-template: repeat(4, auto) / repeat(2, 1fr);
  }

  .artwork-container>div:first-child figure {
    margin-left: calc(5 * var(--spacing));
  }
}

@media screen and (min-width: 85.375rem) {
  .artwork-container {
    grid-template: repeat(2, auto) / 16.9375% 14.6875% 1fr 22.25% 19.0625%;
  }

  .artwork-container>div:first-child figure {
    margin-left: 0;
  }
}

@media screen and (min-width: 120rem) {
  .artwork-container {
    box-sizing: border-box;
    padding-inline: 5rem;
  }
}

/* artworkInfo */

.artwork-info {
  padding-inline: var(--spacing);
}

@media screen and (min-width: 23.4375rem) {
  .artwork-info {
    padding-inline: calc(2 * var(--spacing));
  }
}

@media screen and (min-width: 48rem) {
  .artwork-info {
    padding-block-start: 0;
    padding-inline: calc(3 * var(--spacing));
    position: relative;
    top: calc(-2 * var(--spacing));
  }
}

@media screen and (min-width: 85.375rem) {
  .artwork-info {
    padding-inline-start: 0;
    top: calc(2 * var(--spacing));
  }
}

/* artworkSectionTitle */

.artwork-section-title {
  border: solid var(--line-width) var(--color-on-bg);
  border-radius: calc(5 * var(--spacing));
  height: calc(10 * var(--spacing));
  width: calc(10 * var(--spacing));
}

.artwork-section-title~div {
  bottom: calc(9 * var(--spacing));
}

/* innerGrid, .lowerGrid, sideGrid, sideGridRight */

.inner-grid, .side-grid {
  display: grid;
  gap: var(--spacing);
  grid-template: repeat(2, auto) / 1fr;
}

.inner-grid>div {
  display: grid;
  gap: var(--spacing);
  grid-template-columns: repeat(2, auto);
}

.side-grid-right>figure:last-child {
  margin-left: calc(5 * var(--spacing));
}

@media screen and (min-width: 48rem) {
  .inner-grid {
    grid-template-rows: repeat(2, 1fr);
  }

  .inner-grid>div figure:first-child {
    order: 2;
  }

  .side-grid>figure:first-child {
    margin-left: calc(10 * var(--spacing));
  }
}

@media screen and (min-width: 85.375rem) {
  .inner-grid {
    grid-template-rows: repeat(2, auto);
  }

  .lower-grid {
    display: grid;
    gap: var(--spacing);
    grid-column: 1 / span 4;
    grid-template-columns: 21.09375% 24.765625% 22.8125% 27.8125% 1fr;
  }

  .side-grid {
    grid-template: 1fr / 1fr;
    position: relative;
    overflow: visible;
  }

  .side-grid-left>figure:first-child, .side-grid-right>figure:last-child {
    position: absolute;
    width: 16rem;
  }

  .side-grid-left>figure:first-child {
    margin-left: calc(3 * var(--spacing));
    transform: translateX(-100%);
  }

  .side-grid-left>figure:last-child {
    margin-left: calc(4 * var(--spacing));
  }

  .side-grid-right>figure:first-child {
    margin-left: 0;
    max-width: 13.3125rem;
  }

  .side-grid-right>figure:last-child {
    margin-left: calc(13.3125rem + var(--spacing));
  }
}

/* aboutContainer */

.about-container h3 {
  letter-spacing: -0.03em;
}

@media screen and (min-width: 48rem) {
  .about-container {
    flex-direction: row;
  }

  .about-container:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .about-container:last-of-type {
    align-items: stretch;
  }

  .about-container:last-of-type ul {
    padding-block: calc(var(--spacing) / 5);
    text-align: left;
  }
}

/* profile */

.profile {
  margin-inline: calc(-1 * var(--spacing));
  overflow-y: hidden;
}

.profile>figure {
  max-width: max-content;
  transform: scale(.60);
  z-index: var(--z-media);
}

.profile>video {
  margin-inline-start: calc(10 * var(--spacing));
  margin-top: calc(-5 * var(--spacing));
  max-width: 8rem;
  z-index: var(--z-backdrop);
}

@media screen and (min-width: 23.4375rem) {
  .profile {
    margin-inline: calc(-2 * var(--spacing));
  }

  .profile>video {
    margin-top: calc(-4 * var(--spacing));
  }

  .profile>figure {
    transform: scale(.70);
  }
}

@media screen and (min-width: 48rem) {
  .profile>video {
    margin-inline-start: calc(21 * var(--spacing));
    margin-top: calc(-10 * var(--spacing));
  }

  .profile>figure {
    top: calc(1 * var(--spacing))
  }
}

@media screen and (min-width: 62rem) {
  .profile {
    padding-block-start: calc(10 * var(--spacing));
  }

  .profile>video {
    margin-inline-start: calc(29 * var(--spacing));
    margin-top: calc(-10 * var(--spacing));
  }

  .profile>figure {
    left: calc(4 * var(--spacing));
    right: 0;
    top: calc(-3 * var(--spacing));
    transform: scale(1);
  }
}

@media screen and (min-width: 85.375rem) {
  .profile {
    padding-block-start: calc(13 * var(--spacing));
  }

  .profile>figure {
    top: calc(-4 * var(--spacing))
  }
}