.c-navigation-link {
    --cursor-scale: 1;
    --cursor-translateX: 0;
    --cursor-translateY: 0;

    cursor: none;
    display: inline-flex;
    position: relative;
    transform: translate(var(--cursor-translateX), var(--cursor-translateY)) scale(var(--cursor-scale));
    transition-duration: 100ms;
    transition-timing-function: $easing-out-back;
    transition-property: opacity;
    z-index: 1;

    &:active {
        opacity: 0.5;
        transform: translate(var(--cursor-translateX), var(--cursor-translateY)) scale(1);
    }

    &:not(:hover) {
        transition-property: transform, opacity;
    }

    &:visited {
        color: var(--color-label);
    }

    &__icon {
        margin-right: ss(1);

        .arrowhead {
            transform: scale(0);
            transform-origin: left center;
            transition-duration: 600ms;
            transition-timing-function: $easing-out-back;
            transition-property: transform;
        }
    }

    &:hover &__icon {
        .arrowhead {
            transform: scale(1);
        }
    }
}