/* navigationLink */

.navigation-link {
    color: var(--color-on-bg);
    cursor: none;
    letter-spacing: .1em;
    line-height: calc(2 * var(--spacing));
    text-decoration: none;
    z-index: var(--z-copy);
}

.navigation-link:visited {
    color: var(--color-on-bg);
}