/* container */

@media screen and (min-width: 48rem) {
    .container {
        grid-template-columns: calc(100% / var(--golden-ratio)) 1fr;
    }
}

/* headline */

.headline {
    line-height: calc(6 * var(--spacing));
}

/* links */

.links {
    justify-self: end;
    margin-top: var(--spacing);
}

@media screen and (min-width: 48) {
    .links {
        margin-top: 0;
    }
}

@media screen and (min-width: 85.375rem) {
    .links {
        justify-self: initial;
    }
}

/* title */

.title {
    margin-top: calc(-4 * var(--spacing));
}

@media screen and (min-width: 48rem) {
    .title {
        margin-top: calc(-2 * var(--spacing));
    }
}

@media screen and (min-width: 62rem) {
    .title {
        margin-top: calc(-5 * var(--spacing));
    }
}