.contact {
    align-items: center;
    border-top-color: var(--color-on-bg);
    border-top-style: solid;
    border-top-width: .09375rem;
}

.contact>h2 {
    display: flex;
    margin-left: calc(-.25*var(--spacing-base));
}

@media screen and (min-width: 40em) {
    .contact>h2 {
        margin-left: unset;
    }
}