.page-headline {
    margin: ss(11) 0 ss(5.5);

    @include breakpoint(landscape) {
        margin-bottom: ss(11);
    }

    &__subtitle {
        padding: 0 ss(1.5);

        &:first-of-type h3 {
            padding-bottom: ss(0.75);
        }

        &:last-of-type h3 {
            display: block;
            padding-top: ss(1);
            text-align: center;
            text-align-last: right;
        }

        @include breakpoint(landscape) {
            display: grid;
            grid-template-columns: repeat(18, 1fr);

            &:last-of-type {
                align-items: flex-end;
            }

            &:first-of-type h3 {
                grid-column: 3 / span 4;
            }

            &:last-of-type h3 {
                grid-column: 10 / span 9;
                padding-top: ss(1.125);
                text-align: left;
                text-align-last: left;
            }
        }
    }

    &__title {
        @include breakpoint(landscape) {
            display: grid;
            grid-template-columns: repeat(18, 1fr);
            padding: 0 ss(1.5);
        }

        h1 {
            text-align: right;
            text-align-last: justify;

            @include breakpoint(landscape) {
                grid-column: 2 / span 18;
            }
        }
    }
}
