.page-headline {
    @include breakpoint(landscape) {
        display: grid;
        grid-template-columns: repeat(18, 1fr);
    }

    &__title {
        padding: 0 ss(1.5);

        @include breakpoint(landscape) {
            grid-column: 2 / span 16;
            padding: 0;
            text-align: center;
        }

        h1 {
            margin: ss(1.5) 0;
        }

        .stylized-letter {
            color: rgb(var(--color-light));

            .doodle-1 {
                margin-left: -0.9em;
                margin-top: 0.05em;
                max-width: 0.9em;
                position: absolute;

                @include breakpoint(landscape) {
                    margin-left: -0.965em;
                }
            }

            .doodle-2 {
                margin-left: -1em;
                margin-top: 0.1em;
                max-width: 1.7em;
                position: absolute;

                @include breakpoint(landscape) {
                    margin-left: -1.125em;
                }
            }
        }
    }
}
