.header {
    background-color: rgba(var(--color-light), 0);
    height: calc(2 * ss(1) + 2.5ex);
    margin-top: 100px;
    padding: 0 ss(1.5);
    position: sticky;
    text-transform: uppercase;
    transition: background-color 400ms ease-out;
    top: 0;
    width: min(100vw, $max-page-width);
    z-index: 1;

    @include breakpoint(1920px) {
        left: calc(calc(100vw - $max-page-width) / 2);
    }

    &--is-expanded {
        background-color: rgba(var(--color-light), 1);
        display: flex;
        flex-direction: column;
        height: 100vh;
        left: 0;
        margin: 0;
        padding: 0 ss(1.5) ss(1);
        position: fixed;
        top: 0;
        width: min(100vw, $max-page-width);

        @include breakpoint(1920px) {
            left: calc(calc(100vw - $max-page-width) / 2);
        }
    }

    .contact-info {
        display: none;
        justify-content: space-between;
        padding-top: ss(1);

        &--is-visible {
            display: flex;
        }

        a + a {
            margin-left: ss(1.5);
        }

        small:last-child {
            display: none;

            @include breakpoint(375px) {
                display: flex;
            }
        }

        small:last-child span {
            display: none;

            @include breakpoint(landscape) {
                display: block;
            }
        }

        small + small {
            margin-top: 0;
        }
    }

    .menu {
        background-color: rgb(var(--color-dark));
        display: none;
        padding: ss(1.25) ss(1.5) ss(1) ss(3.5);

        &--is-visible {
            align-items: flex-end;
            display: flex;
            flex-basis: 100%;
            justify-content: flex-end;
        }

        a {
            @extend h2;

            color: rgb(var(--color-light));
            display: block;
            hyphens: auto;
            word-break: break-all;
        }

        li {
            padding-left: ss(0.75);
        }

        li + li {
            margin-top: ss(0.1);
        }

        ol {
            @extend h3;

            font-stretch: extra-expanded;
            color: rgb(var(--color-light));
            list-style: upper-roman;
        }
    }

    .toggle {
        box-sizing: content-box;
        cursor: pointer;
        margin-right: ss(-0.5);
        position: sticky;
        stroke-width: 0.1em;
        transition:
            opacity 1s cubic-bezier(0.34, 1.56, 0.64, 1),
            transform 500ms cubic-bezier(0.16, 1, 0.3, 1);
        transform-origin: center;
        top: 0;
        width: auto;
        z-index: 1;

        & > line {
            stroke: rgba(var(--color-dark), 0.75);
        }

        &--off {
            transform: rotate(45deg) translateY(4px);
        }
    }

    .top-navbar {
        display: flex;
        justify-content: flex-end;
        padding: ss(1) 0;

        .title {
            left: ss(1.5);
            position: fixed;
            top: ss(5.5);

            @include breakpoint(1920px) {
                left: calc(calc(100vw - $max-page-width) / 2 + ss(1.5));
            }

            .froes::after {
                content: "\00B7";
                display: inline-block;
                left: -1ex;
                margin-left: ss(0.2);
                position: relative;
                transform: scale(0);
                transform-origin: center;
                transition: all ease-out 200ms;
            }

            .s {
                left: 0;
                opacity: 1;
                position: relative;
                transition: all ease-out 200ms;
            }

            &--is-wordmark {
                .froes::after {
                    left: 0;
                    transform: scale(1.25);
                }

                .s {
                    left: -15%;
                    opacity: 0;
                }
            }
        }
    }
}
