/* projectSection */

.project-section {
    text-decoration: none;
}

.project-section:last-of-type {
    margin-bottom: calc(10 * var(--spacing));
}

@media screen and (min-width: 48rem) {

    .project-section:nth-child(2n) .info, .project-section:nth-child(2n) .button {
        justify-self: start;
    }

    .project-section:nth-child(2n) .button {
        margin-inline-start: calc(100% / var(--golden-ratio) - 13 * var(--spacing));
    }
}

@media screen and (min-width: 85.375rem) {
    .project-section:nth-child(2n) {
        grid-template-columns: 1fr calc(100% / var(--golden-ratio));
    }

    .project-section:nth-child(2n) .headline {
        order: 2;
    }

    .project-section:nth-child(2n) .cover {
        order: 1;
        transform-origin: center left;
    }

    .project-section:nth-child(2n) .info {
        order: 4;
    }

    .project-section:nth-child(2n) .button {
        justify-self: end;
        order: 3;
        margin-inline-start: 0;
    }

    .project-section:nth-child(2) .cover, .project-section:nth-child(3) .cover {
        margin-top: calc(9 * var(--spacing));
        top: calc(-3 * var(--spacing));
    }

    .project-section .button {
        justify-self: start;
    }
}

@media screen and (min-width: 120rem) {
    .project-section:nth-child(2) .headline {
        margin-top: calc(7 * var(--spacing));
    }

    .project-section:nth-child(2) .info {
        margin-top: calc(-4 * var(--spacing));
    }
}

/* headline */

.headline>h3 {
    hyphens: auto;
    word-break: break-word;
}

@media screen and (min-width: 31.625rem) {
    .headline>h3 {
        hyphens: none;
        word-break: initial;
    }
}

/* cover */

.cover {
    z-index: 2;
}

.cover>div {
    aspect-ratio: 16 / 9;
    float: right;
}

@media screen and (min-width: 48rem) {
    .cover>div {
        margin-top: calc(-4 * var(--spacing));
        max-width: 80%;
    }
}

@media screen and (min-width: 85.375rem) {
    .cover>div {
        position: relative;
        max-width: initial;
        transform: scale(1.309);
        transform-origin: center right;
    }
}

@media screen and (min-width: 120rem) {
    .cover>div {
        transform: scale(1.054);
    }
}

/* info */

.info {
    justify-self: end;
}

.info div {
    margin-top: calc(1 * var(--spacing));
}

@media screen and (min-width: 85.375rem) {
    .info {
        margin-top: calc(-3 * var(--spacing));
        max-width: calc(100% / var(--golden-ratio));
    }
}

/* button */

.button {
    justify-self: end;
}