.footer {
    bottom: 0;
    position: fixed;
    width: min(100vw, $max-page-width);

    address {
        display: flex;
        justify-content: space-between;
        padding: ss(1) ss(1.5);

        a + a {
            margin-left: ss(1.5);
        }

        small:first-child:hover {
            color: rgba(var(--color-dark), 0.18);
            transition: color ease-out 200ms;
        }

        small:first-child a:hover {
            color: rgb(var(--color-dark)) !important;
        }

        small:last-child {
            display: none;

            @include breakpoint(375px) {
                display: flex;
            }
        }

        small:last-child span {
            display: none;

            @include breakpoint(landscape) {
                display: block;
            }
        }

        small + small {
            margin-top: 0;
        }
    }
}
