.project-title {
    margin: ss(5.5) ss(1.5) ss(5.5);

    @include breakpoint(landscape) {
        margin: ss(11) 0 ss(16);

        &--left .container {
            grid-column: 3 / span 12;
        }

        &--right .container {
            grid-column: 5 / span 12;
        }
    }

    span {
        display: flex;
        flex-wrap: wrap;

        ul {
            display: flex;
        }
    }

    .container > small {
        margin-bottom: ss(1);
        margin-top: ss(2.75);
        max-width: max(500px, var(--golden-ratio--smaller));

        @include breakpoint(landscape) {
            margin-top: ss(5.5);
        }
    }
}
