.project-title {
    margin: ss(9) ss(1.5) ss(5.5);

    @include breakpoint(landscape) {
        margin: ss(16) 0;

        &--left .container {
            grid-column: 3 / span 12;
        }

        &--right .container {
            grid-column: 5 / span 12;
        }
    }

    span {
        display: flex;

        ul {
            display: flex;
        }
    }

    .container > small {
        margin-bottom: ss(1);
        margin-top: ss(2.75);

        @include breakpoint(landscape) {
            margin-top: ss(5.5);
        }
    }
}
