.project-description {
    &__title {
        padding: ss(5.5) ss(1.5) 0;

        @include breakpoint(landscape) {
            padding: 0;
        }

        .label {
            display: flex;
            flex-direction: column;
        }
    }

    &__subhead {
        padding: ss(2.75) ss(1.5) ss(2.75);

        @include breakpoint(landscape) {
            padding: 0 ss(1.5) 0 0;
        }

        & > * + * {
            margin-top: ss(1);
        }

        & > small:first-child {
            max-width: max(500px, var(--golden-ratio--smaller));
        }

        ol {
            display: flex;
            flex-wrap: wrap;
        }

        li:not(:last-child) {
            margin-right: 0.33em;
        }
    }
}
