.project-description {
    &__title {
        padding: ss(5.5) ss(1.5) 0;

        @include breakpoint(landscape) {
            grid-column: 1 / span 6;
            padding: 0 ss(1.5);
        }

        .label {
            display: flex;
            flex-direction: column;
        }
    }

    &__subhead {
        padding: ss(2.75) ss(1.5) ss(2.75);

        @include breakpoint(landscape) {
            grid-column: 7 / span 6;
            padding: 0;
        }
    }

    &__tags {
        display: none;

        @include breakpoint(landscape) {
            display: initial;
            grid-column: 14 / span 2;
        }
    }

    &__duration {
        padding-top: ss(5.5);
        position: absolute;
        right: ss(1.5);

        @include breakpoint(landscape) {
            grid-column: 17 / span 2;
            text-align: right;
            padding: 0 ss(1.5) 0 0;
            position: initial;
            right: initial;
        }
    }
}
