/* nav */

.nav {
    --h-body: calc(100% - 2 * var(--h-nav));

    border-bottom: solid var(--line-width) transparent;
    top: 0;
    z-index: var(--z-nav);
}

.nav .body, .nav .body, .nav .footer {
    background-color: var(--color-bg);
    color: var(--color-on-bg);
}

.nav.is-expanded .header, .nav.is-expanded .body, .nav.is-expanded .footer {
    --color-bg: #000;
    --color-on-bg: #fff;
}

@media screen and (min-width: 120rem) {
    .nav {
        max-width: unset;
    }
}

/* home */

.home {
    line-height: var(--spacing);
    padding-block: calc(.5 * var(--spacing));
}

/* header */

.header {
    border: solid var(--line-width) transparent;
    color: var(--color-on-bg);
    height: var(--h-nav);
    z-index: calc(5 + var(--z-nav));
    transition: background-color 950ms, border 950ms, color 950ms;
}

.header.is-expanded {
    border-bottom: solid var(--line-width) var(--color-on-bg);
}

@media screen and (min-width: 120rem) {
    .header {
        margin-inline: 0;
        max-width: unset;
        padding-inline: calc(5rem + 50vw - var(--max-content-width) /2);
    }
}

/* icon */

.icon {
    cursor: none;
    padding-block: calc(.5 * var(--spacing));
    stroke-width: calc(1.5 * var(--line-width));
    width: calc(4 * var(--spacing));
}

.icon>line {
    transition: stroke 750ms var(--ease-out-expo), transform 500ms var(--ease-in-out-back);
    transform-origin: center;
}

.icon.is-expanded>line:first-child {
    transform: rotate(25deg) translateY(.25rem);
}

.icon.is-expanded>line:last-child {
    transform: rotate(-25deg) translateY(-.25rem);
}

/* body */

.body {
    z-index: calc(2 + var(--z-nav));
}

.body>div {
    background-color: inherit;
    height: calc(var(--h-body) / 3);
    top: -100%;
    transition: background-color 950ms, color 950ms, top 2000ms;
    transition-timing-function: var(--ease-out-expo);
}

.body>div a {
    color: inherit;
    text-decoration: none;
}

.body.is-expanded>div:nth-child(1) {
    top: var(--h-nav);
    transition: background-color 950ms, color 950ms, top 500ms;
    z-index: calc(4 + var(--z-nav));
}

.body.is-expanded>div:nth-child(2) {
    top: calc(var(--h-nav) + var(--h-body) / 3);
    transition: background-color 1200ms, color 1200ms, top 650ms;
    z-index: calc(3 + var(--z-nav));
}

.body.is-expanded>div:nth-child(3) {
    top: calc(var(--h-nav) + 2 * var(--h-body) / 3);
    transition: background-color 1700ms, color 1700ms, top 800ms;
    z-index: calc(2 + var(--z-nav));
}

/* footer */

.footer {
    height: calc(var(--h-nav) + 2 * var(--line-width));
    top: -100%;
    transition: background-color 2000ms, color 2000ms, top 2500ms;
    transition-timing-function: var(--ease-out-expo);
    z-index: calc(1 + var(--z-nav));
}

.footer.is-expanded {
    top: calc(var(--h-nav) + var(--h-body) - var(--line-width));
    transition: background-color 2000ms, color 2000ms, top 1000ms;
}